[SETTINGS]
DATASTACK_NAME = dummy_datastack
SERVER_ADDRESS = "https://dummy_server_address"
SLACK_API_TOKEN = dummy_slack_api_token
SLACK_CHANNEL = dummy_slack_channel
NUM_TEST_ANNOTATIONS = 100
CHECK_INTERVAL = 60
DATABASE_URI = "postgresql+asyncpg://postgres:password@localhost:5432/database"
USE_TSM_SYSTEM_ROWS=False